main{
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;
    overflow: hidden;
}

main.login section.banner-empresa{
    order: 1;
    background-color: #036666;
    height: auto;
    width: 45%;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .4s;
}

main.cadastro section.banner-empresa{
    order: 2;
    background-color: #036666;
    height: auto;
    width: 45%;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .4s;
}

section.banner-empresa .logo-banner{
    max-width: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

section.banner-empresa .logo-banner .img-logo{
    width: 300px;
    height: 200px;
    background: url("../../../../public/LOGO_TCC.png") center center no-repeat;
    background-size: cover;
}

section.banner-empresa .logo-banner h2{
    color: #fff;
    letter-spacing: 2px;
    display: flex;
    grid-gap: 5px;
}

section.banner-empresa .logo-banner h2 span#cuidado{
    color: #CAE9FF;
}

section.banner-empresa .logo-banner h2 span#animal{
    color: #D8F3DC;
}

section.formulario{
    order: 2;
    background-color: #fff;
    width: 55%;
    height: 100%;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    transition: .4s;
}

main.cadastro section.formulario{
    order: 1;
}