<main>
  <section [ngClass]="!logar ? 'mudarSecao' : ''">
    <div class="alterar_secao">
      <button (click)="alterarSecao()">
        {{ logar ? "Cadastrar" : "Logar" }}
      </button>
    </div>
    <form *ngIf="!logar" [formGroup]="formularioDeCadastro">
      <h1>Cadastre-se</h1>
      <input
        autocomplete="off"
        placeholder="Nome Completo..."
        type="text"
        formControlName="nomeCompleto"
      />
      <input
        autocomplete="off"
        placeholder="Email..."
        type="text"
        formControlName="email"
      />
      <div class="input_group">
        <input
          autocomplete="off"
          placeholder="Senha..."
          type="password"
          formControlName="senha"
          id="senha-cadastro"
        />
        <button [ngClass]="mostrarSenha ? 'pi pi-eye' : 'pi pi-eye-slash'" (click)="alterarModoSenha()"></button>
      </div>
      <button [disabled]="!formularioDeCadastro.valid" (click)="efetuarCadastro()">Enviar</button>
    </form>
    <form *ngIf="logar" [formGroup]="formularioDeLogin">
      <h1>Logue-se</h1>
      <input
        autocomplete="off"
        placeholder="Email..."
        type="text"
        formControlName="email"
      />
      <div class="input_group">
        <input
          autocomplete="off"
          placeholder="Senha..."
          type="password"
          formControlName="senha"
          id="senha-login"
        />
        <button [ngClass]="mostrarSenha ? 'pi pi-eye' : 'pi pi-eye-slash'" (click)="alterarModoSenha()"></button>
      </div>
      <button [disabled]="!formularioDeLogin.valid" (click)="efetuarLogin()">Enviar</button>
    </form>
  </section>
</main>
