section{
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    z-index: 100000000000;
    background-color: #036666;
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
}

section span{
    font-size: 12em;
    color: #fff;
    animation: animacao 2s infinite linear;
}

@keyframes animacao {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}