<header *ngIf="guard.isLoggedIn$ | async">
  <h1>LOGOTIPO</h1>
  <ul *ngIf="guard.isLoggedIn$ | async">
    <li><a [class.disabled]="!usuarioLogado" [routerLink]="['/']">Home</a></li>
    <li><a [class.disabled]="!usuarioLogado" [routerLink]="['/perfil']">perfil</a></li>
    <li><a [class.disabled]="!usuarioLogado" [routerLink]="['/link4']">Link 4</a></li>
  </ul>
  <ul *ngIf="!(guard.isLoggedIn$ | async)">
    <li class="btn_entrar"><a [routerLink]="['/entre-cadastrar']">Logar/Entrar</a></li>
  </ul>
</header>
