.tela-cadastro {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5%;
  justify-content: center;
}

.tela-cadastro h1 {
  font-size: 36px;
  margin: 0;
  margin: 5px 0;
  color: #333;
}

.tela-cadastro p {
  color: #858585;
  font-weight: 600;
  font-size: 24px;
}

form {
  padding: 5em 0;
  display: flex;
  flex-direction: column;
  grid-gap: 1em;
}

form .input-group {
  display: flex;
  flex-direction: column;
  grid-gap: 0.8em;
  border-bottom: 1px solid #858585;
}

form .input-group label {
  color: #333;
  font-weight: 600;
  font-size: 22px;
  padding: 0 0.5em;
}

form .input-group input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 20px;
  padding: 8px 0.5em;
  transition: 0.4s;
}

form .input-group.senha .input-space {
  display: flex;
}

form .input-group.senha .input-space button {
  width: 30px;
  height: 30px;
  margin: 10px 0;
  border: none;
  font-size: 20px;
  background-color: transparent;
  color: #858585;
  cursor: pointer;
}

form .input-group input::placeholder {
  color: #858585;
  font-weight: 600;
}

form .especificacao-senha {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  grid-gap: 5px;
  color: #858585;
}

form .especificacao-senha li {
  display: flex;
  grid-gap: 5px;
}

form .especificacao-senha li i {
  color: #780000;
}

form span#esqueci-senha {
  color: #656565;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  text-align: end;
}

form button.botao-login {
  background-color: #036666;
  border: none;
  outline: none;
  color: #fff;
  font-size: 24px;
  height: 50px;
  cursor: pointer;
}

form button.botao-login:disabled {
  background-color: #95d5b2;
  cursor: default;
}

.tela-cadastro h4 {
  text-align: center;
  color: #656565;
}

.tela-cadastro h4 span {
  color: #036666;
  cursor: pointer;
}
